#photo {
    width: 30px;
    height: 30px;
}
#div1 {
    background-color: red;
    width: 100px;
    height: 100px;
}
/* צרו דיב עם טקסט ורקע ירוק, במצב מסך גדול הטקסט לבן ובמצב מסך קטן הוא צהוב - מדיה ב HTML */
#div2 {
    background-color: green;
    color: yellow;
    width: 100px;
    height: 100px;
}
#div3 {
    background: url(download\ \(1\).jfif); 
    width: 100px;
    height: 100px;
}
/* צרו דיב עם רקע כחול, במצב מסך גדול הוא עגול ובמצב מסך קטן הוא מרובע - מדיה ב HTML */
#div4 {
    background-color: blue;
    width: 100px;
    height: 100px;
}
/* צרו תמונה במצב מסך גדול עם פילטר blur ובמצב מסך קטן עם פילטר של gray - מדיה ב HTML	 */
#photo2 {
    filter: grayscale(100%);
}
/* <!-- צרו תפריט עם לינקים שבמסך גדול, הלינקים מסודרים בשורה (מימין לשמאל) ובמסך קטן הם מסודרים בעמודה (מלמעלה למטה) --> */

#div5 {
    flex-direction: column;
    display: flex;
}